body{
margin:0;
font-family:Arial;
background:linear-gradient(135deg,#0f172a,#020617);
color:white;
text-align:center;
}

header{
padding:40px;
font-size:28px;
}

.container{
width:420px;
margin:auto;
background:rgba(255,255,255,0.05);
padding:40px;
border-radius:20px;
box-shadow:0 0 30px rgba(0,255,255,0.2);
}

.stats{
margin-bottom:30px;
}

#money{
font-size:40px;
color:#22c55e;
}

button{
display:block;
width:100%;
margin:10px 0;
padding:15px;
font-size:18px;
border:none;
border-radius:12px;
cursor:pointer;
background:#06b6d4;
color:white;
transition:0.25s;
}

button:hover{
transform:scale(1.05);
background:#0891b2;
}

button:active{
transform:scale(0.95);
}

footer{
margin-top:40px;
opacity:0.6;
}
