body{
background:#0f172a;
color:white;
font-family:Arial;
text-align:center;
}

.game{
background:#1e293b;
padding:40px;
border-radius:20px;
width:350px;
margin:auto;
margin-top:50px;
}

button{
padding:15px;
margin:10px;
font-size:18px;
border:none;
border-radius:10px;
cursor:pointer;
background:#22c55e;
color:white;
transition:0.3s;
}

button:hover{
transform:scale(1.1);
background:#16a34a;
}
